#mineArea {
    position: relative;
}

a {
    cursor: pointer;
}

.mine {
    width: 2em;
    height: 2em;
    background-color: #fff;
    margin: 3px;
    display: inline-block;
    position: relative;
    font-weight: 700;
}

.mine > div {
    position: absolute;
    width: 100%;
}

.controlArea {
    position: relative;
}

.controlObj {
    position: absolute;
}

.timerCObj {
    display: inline-block;
    right: 2em;
    top: 1em;
    border: 2px solid #f3f3f3;
}
.timerCObj > i{
    margin-right: 10px;
}

.flagCObj {
    display: inline-block;
    right: 3em;
    top: 7em;
    width: 3em;
    height: 3em;
    border-radius: 5px;
    border: 2px solid #f3f3f3;
    background-color: #333;
}
.flagCObj.active{
    background-color: #fff;
}
